In [1]:
import pandas as pd 
import numpy as np

In [26]:
df = pd.read_csv('../data/Rectrain.csv')

In [27]:
session_user_group = df.groupby([ 'session_id', 'user_id']).first()

In [28]:
session_user_group

,,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
session_id,user_id,,,,,,,,,,
00000510f1adc,WT30CXPIG450,1541064087,1,clickout item,7281198,IN,"Ganpatipule, India",desktop,NaN,2661832|9222426|7051844|4079190|5752778|468398...,46|26|16|38|12|20|21|27|13|21|36|9|144|19|8|19...
00003f3b20954,CITFOTN2IT5P,1541097696,1,clickout item,979325,ES,"La Manga, Spain",mobile,NaN,87132|886881|486611|979325|87173|87175|149508|...,330|187|437|159|499|324|476|381|424|159|144|19...
000056cd97ce2,0TBXPQCK401O,1541483846,1,search for item,2784325,MY,"Port Dickson, Malaysia",desktop,NaN,3811810|496141|674016|1153426|1339848|8400372|...,187|78|100|51|150|81|44|36|53|104|93|48|38|52|...
000066611146f,XRIOQ0R1CHLT,1541332305,1,filter selection,Hotel,BE,"Obak√∂y, Turkey",desktop,Hotel|Resort,5479306|97126|2195126|4163966|8415348|7829686|...,96|81|87|122|50|21|90|177|81|144|122|44|66|121...
00008c1f39c46,MSD74FLNTFNE,1541302205,1,search for poi,Gero Onsen hot spring,JP,"Gero, Japan",mobile,NaN,NaN,NaN
0000be39860d7,X931R6LTG2RE,1541102752,1,interaction item image,445081,US,"Chattanooga, USA",desktop,NaN,1221442|3485396|3396928|2870208|2626700|315318...,171|218|132|209|202|60|123|145|154|174|218|48|...
0000c0fb51e11,SMEARDEG4VRK,1541240881,1,interaction item image,673981,MY,"Desaru, Malaysia",mobile,NaN,673981|4907322|1788201|10369176|4956312|826687...,89|77|211|122|51|18|55|58|949|52|101|107
0000c8490c155,C7G6RE64H25Q,1541349379,1,search for item,42757,MX,"Monterrey, Mexico",mobile,NaN,42757|42944|6626164|42507|42387|43166|42832|34...,80|52|50|62|39|67|96|111|91|43|82|86|58|44|107...
0000d4284ff9b,GF1RRZKHM34J,1541269653,1,interaction item deals,1179940,BR,"Porto de Galinhas, Brazil",mobile,NaN,4590810|2223124|1330644|2023759|2328448|315968...,72|60|93|67|49|182|112|52|97|181|126|120|157|1...
0000de36576fe,J87GWRE76LO2,1541155776,1,clickout item,9286,CH,"Makadi Bay, Egypt",desktop,NaN,9286|132104|4275286|2014135|95114|4042714|9808...,92|172|197|151|67|96|404|113|136|189|138|444|1...
0000fd3bf7543,R1TQCU5WC8IQ,1541042615,1,clickout item,1638445,JP,"Kobe, Japan",mobile,NaN,1667695|1585055|1015427|1638445|1533033|347091...,287|591|289|305|258|400|251|321|329|169|371|19...
00011005327e1,M7K6U5Q4ZNBM,1541539680,1,interaction item image,1216256,US,"Port Richey, USA",tablet,NaN,68607|981941|1216256|1333884|73042|6136340|103...,68|51|84|84|45|44|171|39|48|118|59|98|57|57|12...
000130c2690b4,0G4P8FP6ORNN,1541224805,1,search for destination,"Pune, India",IN,"Pune, India",mobile,NaN,2664408|1048436|6317894|8190332|9955824|266716...,24|19|20|24|33|24|18|25|18|131|25|34|14|19|18|...
000138ab4f789,WDBP226XSN9E,1541444149,1,search for poi,Fort Lauderdale - Hollywood International Airport,US,"Fort Lauderdale, USA",desktop,Hotel|Motel|Resort,68988|1305119|8110|1298097|224686|64227|662659...,306|245|263|227|157|231|198|254|140|268|233|21...
00019322edd5d,JFZVBNZUIFR2,1541235460,1,search for destination,"London, United Kingdom",GR,"London, United Kingdom",desktop,Best Value,NaN,NaN
000195d02a8a9,Z0TZ5TYJHJIL,1541382865,1,interaction item deals,4028176,AR,"Arma√ß√£o dos B√∫zios, Brazil",mobile,NaN,4028176|2316852|2647250|1314823|2550960|199758...,67|47|52|63|46|53|58|59|41|60|44|29|63|61|36|6...
00019f78d2c36,5XUW42OSAUU6,1541303014,1,search for item,4755476,US,"Nyaung Shwe, Myanmar",desktop,NaN,NaN,NaN
0001acb13ccd1,2LVZYAWP3XD7,1541188880,1,change of sort order,interaction sort button,AA,"Dubai, United Arab Emirates",desktop,Focus on Distance,55323|7075072|6832324|989659|55345|2019329|486...,56|72|79|93|39|69|47|139|119|65|157|55|146|62|...
0001b9615355c,6E4Y98YEZ78P,1541329475,1,interaction item image,1095104,NL,"Amersfoort, Netherlands",mobile,NaN,1095104|2524736|1330285|42233|42173|1110043|42...,144|90|109|55|109|97|144|145|70|75|85|100|75|6...
0001c758d8d1f,QF54BRJZ12IN,1541346118,1,search for item,3948370,BR,"Rio de Janeiro, Brazil",mobile,Best Value,6783186|9712176|104859|2815876|2860914|9264860...,178|201|201|191|199|543|176|237|315|228|181|14...
0001c9c2e444f,M3B5Y498A1GU,1541254914,1,clickout item,9500346,TR,"Antalya, Turkey",desktop,NaN,1240081|37714|5647680|116764|5477880|37711|989...,68|62|37|30|32|54|54|79|27|26|18|23|47|60|25|7...
0001e1f9f413b,0F024761F9CF,1541160400,1,search for destination,"Rio de Janeiro, Brazil",BR,"Rio de Janeiro, Brazil",mobile,NaN,5659850|153550|4304686|2788294|6452448|4415314...,131|42|55|31|28|232|88|129|136|124|49|147|59|1...
0001e610ce498,W5CEV6QV3ZYV,1541045158,1,interaction item image,488901,MX,"Guadalajara, Mexico",desktop,Focus on Distance,127744|349036|42389|1797067|1848773|34363|6321...,23|28|76|74|64|81|119|25|96|22|74|114|74|69|39...
0001fe0007954,38DG07L4M0KO,1541511553,1,search for poi,Ginza Station,JP,"Tokyo, Japan",tablet,Sort by Price,103501|2111996|2350650|4675284|6914122|8788590...,73|83|91|91|91|97|95|90|103|103|61|105|61|115|...
000200da92d17,YIW88A0CZ2NK,1541468830,1,clickout item,8978068,MX,"Tehuacan, Mexico",desktop,NaN,2772818|3508034|876196|2772228|2251578|1326044...,28|49|28|30|28|39|22|23|13|37|26
00021822e2f69,NZ3B66R18U4P,1541269833,1,clickout item,6451832,BR,"Canela, Brazil",mobile,NaN,507861|655716|1830637|1944129|502066|1352530|4...,191|488|196|231|392|437|434|189|191|366|238|26...
00021d6a859ee,KN1YZ189ZJY1,1541333748,1,clickout item,3849008,TW,"Shuili Township, Taiwan",mobile,NaN,3849008|2296040|3483488|3760984|5838022|378692...,62|262|55|129|74|44|402|111|52|43|322|119|64|1...
00023a654b3f2,8JUHLVILDN2R,1541344303,1,clickout item,3180976,IN,"Chandigarh, India",mobile,NaN,3180976|9634968|2214856|1987019|2752985|452203...,73|41|76|138|179|73|45|66|43|99|107|85|83|104|...
0002461f28967,1BO00312I41Y,1541360823,1,search for item,5155196,BR,"Playa Bavaro, Dominican Republic",desktop,All Inclusive (Upon Inquiry),NaN,NaN
00025affb7f5f,YUKPCV88BOZV,1541374855,1,search for item,1247856,RS,"Lucerne, Switzerland",desktop,NaN,4855592|6931236|7954492|10103322|1247856|27719...,48|59|53|61|75|128|103|77|85|196|70|99|141|94|...
...,...,...,...,...,...,...,...,...,...,...,...
ffff55d5f5692,AEUWB8R5X39Z,1541075482,1,search for destination,"Maspalomas, Spain",UK,"Maspalomas, Spain",mobile,Focus on Rating,149345|7434|15729|7154|95949|2015423|7712022|7...,145|140|203|147|98|38|140|542|191|148|354|171|...
ffff69a28ad8f,YVSEZ77X440L,1541338437,1,change of sort order,interaction sort button,TR,"Gaziantep, Turkey",desktop,Best Value,8788854|2626761|1314924|2261484|1584391|591187...,25|37|28|19|29|47|22|18|25|49|32|33|35|33|34|4...
ffff71cf574ae,H0J03LUT0DO7,1541345039,1,interaction item image,1082968,MX,"Playa del Carmen, Mexico",mobile,NaN,1082968|100296|1057716|3414162|6473128|42986|3...,649|252|342|204|264|351|217|70|182|378|961|146...
ffffb1a829d57,112CTTC29IX0,1541447799,1,search for item,2512406,TR,"Istanbul, Turkey",mobile,NaN,1954129|3505016|98949|37569|37518|2593026|3753...,31|64|42|131|106|55|354|114|169|40|155|34|53|6...
ffffc3684eb96,KN0UQZPHXURC,1541200147,1,change of sort order,interaction sort button,UK,"Amsterdam, Netherlands",mobile,NaN,9616040|2254338|42294|42309|2164460|42110|2467...,207|223|432|326|196|358|243|245|179|210|290|42...
ffffd71debe43,G8FHVMQUEBWH,1541450547,1,clickout item,43032,MX,"Queretaro, Mexico",mobile,NaN,43032|3176670|3135398|42918|43017|3252445|1109...,82|55|49|55|46|61|58|40|66|46|100|50|152|79|48...
gdq1ljudj7o75,0S0R23E2SVZ8,1541180743,1,clickout item,51469,DE,"Freiburg, Germany",desktop,NaN,6339800|1350186|466046|7710320|6452126|5017|50...,96|129|116|121|139|125|112|127|152|103|88|113|...
gijrb7ktv5dst,MQK30UGW0MAU,1541188258,1,interaction item image,41604,PT,"Ourem, Portugal",mobile,NaN,41604|41616|113357|389036|41675|1676525|132168...,59|40|61|68|32|50|64|53|29|33|35|59|77|71|50|4...
hpc4re5voh2j8,HH06SQXNTZIN,1541456515,1,clickout item,499361,BR,"Ilh√©us, Brazil",mobile,NaN,499361|1668523|1564425|512066|511476|2025379|2...,427|52|48|50|44|42|36|36|52|42|40|53|45|45|36|...
hs7al6r7e0e6f,0FZO2D0ADADO,1541409548,1,interaction item image,5017,DE,"Freiburg, Germany",tablet,NaN,86270|5014|1350186|466046|7710320|6339800|6452...,113|156|119|116|84|77|96|90|139|119|106|93|101...
iu6o13hri9m3t,1LETMXM7TJQ7,1541259673,1,clickout item,51218,DE,"Rees, Germany",tablet,NaN,51218|339531|1151865|17988|53248|161149|158850...,65|99|78|102|64|122|120|72|75|99|79|99|95|82|9...
jb0g0qf54mrdm,QZ407NUR6MJB,1541517819,1,interaction item image,499361,BR,"Ilh√©us, Brazil",mobile,NaN,104832|1330207|478616|478256|152438|1474801|63...,226|120|67|84|63|82|49|44|39|27|41|294|34|52|3...
jo8u7qtmmk37v,Y7GS16JOKAIM,1541523290,1,interaction item info,2500420,BR,"Ubatuba, Brazil",mobile,NaN,2037903|1638957|1056384|1656477|2684345|277291...,62|39|170|49|45|48|26|21|121|44|27|62|64|41|29...
k5or4k97f2mns,NODRCZ025J34,1541214843,1,clickout item,2517594,BR,"√Åguas de Lind√≥ia, Brazil",mobile,NaN,2517594|4055748|2252518|1668343|2249882|225270...,44|32|65|57|123|68|57|45|80|84|84|84|68|36|87|...
l63s3mo591kcb,COK1NQCF13R2,1541159671,1,clickout item,1993165,BR,"Florian√≥polis, Brazil",mobile,Resort,104832|478616|1330207|478256|2755492|1862179|1...,311|53|123|116|178|101|58|112|77|30|129|60|59|...
lc0as7mhr013a,71AACHCGQ2ZR,1541499091,1,clickout item,12994,DE,"Mettmann, Germany",tablet,NaN,12994|25945|16368|4984936|107894|3111612|53495...,175|53|65|55|51|65|49|71|63|65|120|60|50|77|89...
mbtmfvkpbjh9e,GZB8YRMKBZM9,1541272589,1,clickout item,36325,AT,"Bad Hofgastein, Austria",desktop,NaN,36325|117487|120795|5913728|120794|36315|12025...,329|368|350|442|326|448|336|560|680|652|357|38...
migap0mif8g56,W61WKRIOQ10I,1541543660,1,clickout item,1638957,BR,"Ubatuba, Brazil",mobile,NaN,1638957|1562267|1056384|2684345|1656477|239252...,66|102|308|49|98|75|69|58|55|35|101|52|54|66|8...
nm5lonem23b1k,B6H61487QKWR,1541321104,1,search for destination,"Abano Terme, Italy",IT,"Abano Terme, Italy",mobile,4 Star,121602|111960|85535|85539|345356|120705|111955...,153|129|112|109|66|150|154|87|106|162|138|190|...
oa1fkctrinkb8,2PLP67ZFQUS1,1541276998,1,interaction item image,104632,BR,"Guaruj√°, Brazil",mobile,NaN,1244689|2759718|5174478|2077872|2083424|408943...,139|90|85|84|124|68|92|224|64|71|95|54|50|71|1...
phs93qan65omu,OF1TXW66433R,1541195276,1,clickout item,1668523,BR,"Ilh√©us, Brazil",mobile,NaN,499361|1668523|1564425|512066|511476|962853|20...,401|52|56|48|45|32|40|36|43|45|36|41|47|83|46|...
ptob1c1ag7444,3P12OAV0491V,1541438844,1,interaction item image,1829765,BR,"Campos do Jord√£o, Brazil",mobile,NaN,1829765|2591228|2627277|1500737|1001685|166861...,53|32|444|32|74|31|81|59|22|45|158|141|132|26|...
qjhb1uuit1bda,A7FESCS95MVA,1541431964,1,interaction item image,52593,DE,"Gro√übeeren, Germany",desktop,NaN,52593|53395|1829757|1951155|5656|51440|159716|...,79|118|79|80|89|76|80|75|75|139|152|51|120|64|...
rakbhe1nrqpd0,FKKCHHCQQ39X,1541270910,1,clickout item,6107,DE,"Celle, Germany",mobile,NaN,6100|15800|6111|10351216|10293386|9674504|7972...,93|98|99|74|80|82|75|145|204|85|54
s8u671odd7ckk,T0QB3YFIHKA3,1541376805,1,clickout item,1236880,AU,"Mandurah, Australia",mobile,NaN,1236880|326171|5716494|105106|668701|3920088|3...,177|126|123|88|105|74|79|79|111|187|79|107|492...
tpc71ussgcuou,W2EZ7V7KH5QE,1541523289,1,clickout item,532821,IT,"Lovere, Italy",mobile,NaN,532821|103988|970945|1327748|3770760|108290|10...,101|100|124|54|68|85|78|70|131|85|92|55|969|80...
u5e4la6f115r1,HCN2L5VRPGQX,1541529473,1,clickout item,147574,DE,"Bayerisch Gmain, Germany",mobile,NaN,147574|30958|31032|36433|559786|30996|30954|30...,239|298|59|84|98|115|160|178|127|114|86|87|77|...
udmhn71cn8500,XDKQOLXCI4OR,1541245078,1,clickout item,5030808,MX,"Santa Mar√≠a del Oro, Mexico",mobile,NaN,5030808,172
v9815m0bctrm1,2CMZ2TB27WYG,1541387197,1,clickout item,157502,BR,"Buenos Aires, Argentina",mobile,NaN,158120|219001|2635256|158526|157502|157503|158...,618|224|258|189|104|695|556|60|205|68|70|100|1...
vg1t2qc04afrt,ZL7HCKU416T1,1541171155,1,change of sort order,interaction sort button,DE,"Freiburg, Germany",desktop,Sort by Price,4905934|2644707|2583410|8391928|467371|625876|...,26|39|40|46|48|49|49|49|52|52|53|57|57|57|58|5...

In [36]:
sessions = session_user_group.index.get_level_values(0)

In [37]:
users =  session_user_group.index.get_level_values(1)

In [41]:
len(sessions.unique())

910683

In [56]:
session_user_group.groupby(level=0).sum()

                timestamp  step
session_id
00000510f1adc  1541064087     1
00003f3b20954  1541097696     1
000056cd97ce2  1541483846     1
000066611146f  1541332305     1
00008c1f39c46  1541302205     1
0000be39860d7  1541102752     1
0000c0fb51e11  1541240881     1
0000c8490c155  1541349379     1
0000d4284ff9b  1541269653     1
0000de36576fe  1541155776     1
0000fd3bf7543  1541042615     1
00011005327e1  1541539680     1
000130c2690b4  1541224805     1
000138ab4f789  1541444149     1
00019322edd5d  1541235460     1
000195d02a8a9  1541382865     1
00019f78d2c36  1541303014     1
0001acb13ccd1  1541188880     1
0001b9615355c  1541329475     1
0001c758d8d1f  1541346118     1
0001c9c2e444f  1541254914     1
0001e1f9f413b  1541160400     1
0001e610ce498  1541045158     1
0001fe0007954  1541511553     1
000200da92d17  1541468830     1
00021822e2f69  1541269833     1
00021d6a859ee  1541333748     1
00023a654b3f2  1541344303     1
0002461f28967  1541360823     1
00025affb7f5f  1541374855     1
...                   ...   ...
ffff55d5f5692  1541075482     1
ffff69a28ad8f  1541338437     1
ffff71cf574ae  1541345039     1
ffffb1a829d57  1541447799     1
ffffc3684eb96  1541200147     1
ffffd71debe43  1541450547     1
gdq1ljudj7o75  1541180743     1
gijrb7ktv5dst  1541188258     1
hpc4re5voh2j8  1541456515     1
hs7al6r7e0e6f  1541409548     1
iu6o13hri9m3t  1541259673     1
jb0g0qf54mrdm  1541517819     1
jo8u7qtmmk37v  1541523290     1
k5or4k97f2mns  1541214843     1
l63s3mo591kcb  1541159671     1
lc0as7mhr013a  1541499091     1
mbtmfvkpbjh9e  1541272589     1
migap0mif8g56  1541543660     1
nm5lonem23b1k  1541321104     1
oa1fkctrinkb8  1541276998     1
phs93qan65omu  1541195276     1
ptob1c1ag7444  1541438844     1
qjhb1uuit1bda  1541431964     1
rakbhe1nrqpd0  1541270910     1
s8u671odd7ckk  1541376805     1
tpc71ussgcuou  1541523289     1
u5e4la6f115r1  1541529473     1
udmhn71cn8500  1541245078     1
v9815m0bctrm1  1541387197     1
vg1t2qc04afrt  1541171155     1

[910683 rows x 2 columns]

In [51]:
df

TypeError: first() missing 1 required positional argument: 'offset'

In [30]:
Indexes = session_user_group.index

In [32]:
Indexes_array = np.array(Indexes)

In [33]:
Indexes_array

array([('00000510f1adc', 'WT30CXPIG450'),
       ('00003f3b20954', 'CITFOTN2IT5P'),
       ('000056cd97ce2', '0TBXPQCK401O'), ...,
       ('udmhn71cn8500', 'XDKQOLXCI4OR'),
       ('v9815m0bctrm1', '2CMZ2TB27WYG'),
       ('vg1t2qc04afrt', 'ZL7HCKU416T1')], dtype=object)

In [34]:
len(Indexes_array)

910683

In [557]:
df.to_csv("session.csv", index=False)

In [593]:
df = pd.read_csv('session.csv')

In [594]:
df

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037523,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z2,aff3928535f48,1541037542,1,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z3,aff3928535f49,1541037542,1,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
5,00RL8Z82B2Z4,aff3928535f49,1541037542,1,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
6,00RL8Z82B2Z5,aff3928535f51,1541037542,1,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
7,00RL8Z82B2Z6,aff3928535f52,1541037542,1,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
8,00RL8Z82B2Z6,aff3928535f52,1541037543,2,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
9,00RL8Z82B2Z6,aff3928535f52,1541037543,3,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [595]:
short_df = df[['session_id', 'user_id','timestamp','step','reference']]

In [596]:
short_df.head()

      session_id       user_id   timestamp  step reference
0  aff3928535f48  00RL8Z82B2Z1  1541037460     1   Newtown
1  aff3928535f48  00RL8Z82B2Z1  1541037522     2    666856
2  aff3928535f48  00RL8Z82B2Z1  1541037523     3    666856
3  aff3928535f48  00RL8Z82B2Z2  1541037542     1    109038
4  aff3928535f49  00RL8Z82B2Z3  1541037542     1    109038

In [597]:
session_user_group = short_df.groupby([ 'session_id', 'user_id']).last()

In [598]:
session_user_group

                             timestamp  step reference
session_id    user_id
aff3928535f48 00RL8Z82B2Z1  1541037523     3    666856
              00RL8Z82B2Z2  1541037542     1    109038
aff3928535f49 00RL8Z82B2Z3  1541037542     1    109038
              00RL8Z82B2Z4  1541037542     1    109038
aff3928535f51 00RL8Z82B2Z5  1541037542     1    109038
aff3928535f52 00RL8Z82B2Z6  1541037543     3    109038

In [599]:
session_user_group_2 = short_df.groupby(['session_id'])

In [600]:
session_user_group_2.first()

                    user_id   timestamp  step reference
session_id
aff3928535f48  00RL8Z82B2Z1  1541037460     1   Newtown
aff3928535f49  00RL8Z82B2Z3  1541037542     1    109038
aff3928535f51  00RL8Z82B2Z5  1541037542     1    109038
aff3928535f52  00RL8Z82B2Z6  1541037542     1    109038

In [601]:
session_user_group_2

In [641]:
def drop_duplicates(data):
    print(data)
    user = data.iloc[0]['user_id']
    return data[data.user_id == user]

In [642]:
session_user_group_2.apply(drop_duplicates)

        user_id   timestamp  step reference
0  00RL8Z82B2Z1  1541037460     1   Newtown
1  00RL8Z82B2Z1  1541037522     2    666856
2  00RL8Z82B2Z1  1541037523     3    666856
3  00RL8Z82B2Z2  1541037542     1    109038
        user_id   timestamp  step reference
0  00RL8Z82B2Z1  1541037460     1   Newtown
1  00RL8Z82B2Z1  1541037522     2    666856
2  00RL8Z82B2Z1  1541037523     3    666856
3  00RL8Z82B2Z2  1541037542     1    109038
        user_id   timestamp  step reference
4  00RL8Z82B2Z3  1541037542     1    109038
5  00RL8Z82B2Z4  1541037542     1    109038
        user_id   timestamp  step reference
6  00RL8Z82B2Z5  1541037542     1    109038
        user_id   timestamp  step reference
7  00RL8Z82B2Z6  1541037542     1    109038
8  00RL8Z82B2Z6  1541037543     2    109038
9  00RL8Z82B2Z6  1541037543     3    109038

                      user_id   timestamp  step reference
session_id
aff3928535f48 0  00RL8Z82B2Z1  1541037460     1   Newtown
              1  00RL8Z82B2Z1  1541037522     2    666856
              2  00RL8Z82B2Z1  1541037523     3    666856
aff3928535f49 4  00RL8Z82B2Z3  1541037542     1    109038
aff3928535f51 6  00RL8Z82B2Z5  1541037542     1    109038
aff3928535f52 7  00RL8Z82B2Z6  1541037542     1    109038
              8  00RL8Z82B2Z6  1541037543     2    109038
              9  00RL8Z82B2Z6  1541037543     3    109038

In [613]:
new_df = session_user_group_2.apply(drop_duplicates)

In [614]:
new_df.reset_index(0).reset_index(drop=True)

      session_id       user_id   timestamp  step reference
0  aff3928535f48  00RL8Z82B2Z1  1541037460     1   Newtown
1  aff3928535f48  00RL8Z82B2Z1  1541037522     2    666856
2  aff3928535f48  00RL8Z82B2Z1  1541037523     3    666856
3  aff3928535f49  00RL8Z82B2Z3  1541037542     1    109038
4  aff3928535f51  00RL8Z82B2Z5  1541037542     1    109038
5  aff3928535f52  00RL8Z82B2Z6  1541037542     1    109038
6  aff3928535f52  00RL8Z82B2Z6  1541037543     2    109038
7  aff3928535f52  00RL8Z82B2Z6  1541037543     3    109038

In [615]:
new_df.groupby([ 'session_id', 'user_id']).last()

                             timestamp  step reference
session_id    user_id
aff3928535f48 00RL8Z82B2Z1  1541037523     3    666856
aff3928535f49 00RL8Z82B2Z3  1541037542     1    109038
aff3928535f51 00RL8Z82B2Z5  1541037542     1    109038
aff3928535f52 00RL8Z82B2Z6  1541037543     3    109038

In [616]:
def drop_last_duplicate(data):
    return data.iloc[0]

In [632]:
df = new_df.groupby(['session_id', 'timestamp']).apply(drop_last_duplicate)

In [640]:
new_df.reset_index(0).reset_index(drop=True)

      session_id       user_id   timestamp  step reference
0  aff3928535f48  00RL8Z82B2Z1  1541037460     1   Newtown
1  aff3928535f48  00RL8Z82B2Z1  1541037522     2    666856
2  aff3928535f48  00RL8Z82B2Z1  1541037523     3    666856
3  aff3928535f49  00RL8Z82B2Z3  1541037542     1    109038
4  aff3928535f51  00RL8Z82B2Z5  1541037542     1    109038
5  aff3928535f52  00RL8Z82B2Z6  1541037542     1    109038
6  aff3928535f52  00RL8Z82B2Z6  1541037543     2    109038
7  aff3928535f52  00RL8Z82B2Z6  1541037543     3    109038